<h1>Manager#Dashboard</h1>

<br>
Welcome to Manager Dashboard.
<br>

You can perform following functions in Staff Panel:
<br>
1. Manage Users
<br>
2. Manage Dentists
<br>
3. View Contact Messages
<br>
4. View Reports

