<h1>Staff#Dashboard</h1>

<br>
Welcome to Staff Dashboard.
<br>

You can perform following functions in Staff Panel:
<br>
1. Manage Patients
<br>
2. Manage Appointments
<br>
3. View all Appointments
<br>
4. View all Appointments

