<!DOCTYPE html>
<html lang="en">

  <head>

    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <meta name="description" content="">
    <meta name="author" content="">

    <title>Dental Practice</title>

    <!-- Bootstrap core CSS -->
    <link href="/assets/bootstrap.min.css" rel="stylesheet">

    <!-- Custom styles for this template -->
    <link href="/assets/modern-business.css" rel="stylesheet">

  </head>

  <body>

    <!-- Navigation -->
    <nav class="navbar fixed-top navbar-expand-lg navbar-dark bg-dark fixed-top">
      <div class="container">
        <a class="navbar-brand" href="index.html">Dental Practice</a>
        <button class="navbar-toggler navbar-toggler-right" type="button" data-toggle="collapse" data-target="#navbarResponsive" aria-controls="navbarResponsive" aria-expanded="false" aria-label="Toggle navigation">
          <span class="navbar-toggler-icon"></span>
        </button>
        <div class="collapse navbar-collapse" id="navbarResponsive">
          <ul class="navbar-nav ml-auto">
            <li class="nav-item">
              <a class="nav-link" href="/home/about">About Us</a>
            </li>
            <li class="nav-item">
              <a class="nav-link" href="/home/news">News</a>
            </li>
            <li class="nav-item">
              <a class="nav-link" href="/contact_messages/new">Contact Us</a>
            </li>

            <li class="nav-item">
              <a class="nav-link" href="/appointments/new">Book Appointment</a>
            </li>

            <li class="nav-item">
              <a class="nav-link" href="/session/sign_in">Admin Panel</a>
            </li>

           
          </ul>
        </div>
      </div>
    </nav>

    <header>
      <div id="carouselExampleIndicators" class="carousel slide" data-ride="carousel">
        <ol class="carousel-indicators">
          <li data-target="#carouselExampleIndicators" data-slide-to="0" class="active"></li>
          <li data-target="#carouselExampleIndicators" data-slide-to="1"></li>
          <li data-target="#carouselExampleIndicators" data-slide-to="2"></li>
        </ol>
        <div class="carousel-inner" role="listbox">
          <!-- Slide One - Set the background image for this slide in the line below -->
          <div class="carousel-item active" style="background-image: url('/assets/dental2.jpg')">
            <div class="carousel-caption d-none d-md-block">
              <h3>First Slide</h3>
              <p>This is a description for the first slide.</p>
            </div>
          </div>
          <!-- Slide Two - Set the background image for this slide in the line below -->
          <div class="carousel-item" style="background-image: url('/assets/dental3.jpg')">
            <div class="carousel-caption d-none d-md-block">
              <h3>Second Slide</h3>
              <p>This is a description for the second slide.</p>
            </div>
          </div>
          <!-- Slide Three - Set the background image for this slide in the line below -->
          <div class="carousel-item" style="background-image: url('/assets/dental1.jpg')">
            <div class="carousel-caption d-none d-md-block">
              <h3>Third Slide</h3>
              <p>This is a description for the third slide.</p>
            </div>
          </div>
        </div>
        <a class="carousel-control-prev" href="#carouselExampleIndicators" role="button" data-slide="prev">
          <span class="carousel-control-prev-icon" aria-hidden="true"></span>
          <span class="sr-only">Previous</span>
        </a>
        <a class="carousel-control-next" href="#carouselExampleIndicators" role="button" data-slide="next">
          <span class="carousel-control-next-icon" aria-hidden="true"></span>
          <span class="sr-only">Next</span>
        </a>
      </div>
    </header>

    <!-- Page Content -->
    <div class="container">

      <h1 class="my-4">Welcome to Dental Practice</h1>

      <!-- Marketing Icons Section -->
      <div class="row">
        <div class="col-lg-4 mb-4">
          <div class="card h-100">
            <h4 class="card-header">Start Children Early</h4>
            <div class="card-body">
              <p class="card-text">Despite great strides in decay prevention, one in four young children develops signs of tooth decay before they start school. Half of all children between the ages of 12 and 15 have cavities. “Dental care should begin as soon as a child’s first tooth appears, usually around six months,” Caryn Solie, RDH, president of the American Dental Hygienists’ Association, tells WebMD. “Teeth can be wiped with a clean, damp cloth or a very soft brush. At about age 2, you can let kids try brushing for themselves -- although it’s important to supervise.”</p>
            </div>
            
          </div>
        </div>
        <div class="col-lg-4 mb-4">
          <div class="card h-100">
            <h4 class="card-header">Seal off trouble</h4>
            <div class="card-body">
              <p class="card-text">Permanent molars come in around age 6. Thin protective coatings applied to the chewing surfaces of the back teeth can prevent decay in the pits and fissures. According to the Centers for Disease Control and Prevention, sealants can significantly reduce caries. Yet only one in three U.S. kids receives dental sealants. Talk to your dental professional.</p>
            </div>
           
          </div>
        </div>
        <div class="col-lg-4 mb-4">
          <div class="card h-100">
            <h4 class="card-header">Brush twice a day and floss daily</h4>
            <div class="card-body">
              <p class="card-text">Gum disease and tooth decay remain big problems -- and not just for older people. Three-fourths of teenagers have gums that bleed, according to the ADHA. Along with the basic advice, remember:</p>
            </div>
            
          </div>
        </div>
      </div>
      <!-- /.row -->

      <!-- Portfolio Section -->
      <h2>Dental Care</h2>

      <div class="row">
        <div class="col-lg-4 col-sm-6 portfolio-item">
          <div class="card h-100">
            <a href="#"><img class="card-img-top" src="/assets/dent1" alt=""></a>
            <div class="card-body">
              <h4 class="card-title">
                <a href="#">Why are my teeth so important?</a>
              </h4>
              <p class="card-text">Lorem ipsum dolor sit amet, consectetur adipisicing elit. Amet numquam aspernatur eum quasi sapiente nesciunt? Voluptatibus sit, repellat sequi itaque deserunt, dolores in, nesciunt, illum tempora ex quae? Nihil, dolorem!</p>
            </div>
          </div>
        </div>
        <div class="col-lg-4 col-sm-6 portfolio-item">
          <div class="card h-100">
            <a href="#"><img class="card-img-top" src="/assets/dent2" alt=""></a>
            <div class="card-body">
              <h4 class="card-title">
                <a href="#">What can go wrong?</a>
              </h4>
              <p class="card-text">Tooth decay can be painful and lead to fillings, crowns or inlays. If tooth decay is not treated, the nerve of the tooth can become infected and die, causing an abscess. This may then need root canal treatment or even for the tooth to be removed. It is very important that you keep up a good routine at home to keep your teeth and gums healthy. Gum disease is common and, if left untreated, may lead to bone loss around the teeth. In some cases it may lead to loose teeth and teeth being lost. Gum disease is preventable. It can be treated and kept under control with regular cleaning sessions and check-ups, preventing further problems. If teeth are lost, it may be necessary to fill the gaps with bridges, dentures or implants..</p>
            </div>
          </div>
        </div>
        <div class="col-lg-4 col-sm-6 portfolio-item">
          <div class="card h-100">
            <a href="#"><img class="card-img-top" src="/assets/dent3" alt=""></a>
            <div class="card-body">
              <h4 class="card-title">
                <a href="#">How can I prevent gum disease?</a>
              </h4>
              <p class="card-text">It is important to remove plaque and bits of food from around your teeth as this will stop your gums from becoming inflamed and swollen, and becoming infected. If you leave plaque on your teeth it can harden into tartar, which can only be removed by the dental team. It is important to keep up your regular appointments so that your teeth can have a thorough cleaning if they need it.</p>
            </div>
          </div>
        </div>
        
        
      <!-- /.row -->

      <!-- Features Section -->
      <div class="row">
        <div class="col-lg-6">
          <h2>What sort of toothpaste should I use?</h2>
          <p>
         As well as regular family toothpastes, there are many specialised toothpastes. These include tartar control for people who get tartar build-up, and a choice of toothpastes for people with sensitive teeth. ‘Total care' toothpastes include ingredients to help fight gum disease, freshen breath and reduce plaque build-up. ‘Whitening' toothpastes are good at removing staining to help restore the natural colour of your teeth, but are not strong enough to change the natural shade of the teeth.

Some children's toothpastes only have about half the fluoride that adult toothpastes have. They only give limited protection for the teeth. If your children are under 7 you should supervise them when they brush their teeth. Encourage them not to swallow the toothpaste and to just spit, not rinse, after brushing.

To have a clean and healthy mouth you need to use the correct dental-care products. Ask your dental team to tell you what choices there are and to give their recommendations.</p>
        </div>
        <div class="col-lg-6">
          <img class="img-fluid rounded" src="/assets/paste.jpg" alt="">
        </div>
      </div>
      <!-- /.row -->

      <hr>

      <!-- Call to Action Section -->
      <div class="row mb-4">
        <div class="col-md-8">
          <p></p>
        </div>
        <div class="col-md-4">
          
        </div>
      </div>

    </div>
    <!-- /.container -->

    <!-- Footer -->
    <footer class="py-5 bg-dark">
      <div class="container">
        <p class="m-0 text-center text-white">Copyright &copy; Dental Practice 2018</p>
      </div>
      <!-- /.container -->
    </footer>

    <!-- Bootstrap core JavaScript -->
    <script src="/assets/jquery.min.js"></script>
    <script src="/assets/bootstrap.bundle.min.js"></script>

  </body>

</html>
