<p> Search Appointment by Dentist
</p>

<br>


<form action="/appointments" method="get">
  <input type="text" class="form-control" placeholder="Search Appointments by Dentist name" name="search_dentist"> 
  <br>
  <input type="submit" value="Search Appointments" class="btn btn-primary"/>
</form>
<br><br>