<p> Search Appointment by Patient
</p>

<br>

<form action="/appointments" method="get">
  <input type="text" class="form-control" placeholder="Search Appointments by Patient name" name="search"> 
  <br>
  <input type="submit" value="Search Appointments" class="btn btn-primary"/>
</form>
<br><br>


